@import 'mixins/mixins';

#page-logo {
    width: 27.5%;
    display: flex;
    justify-content: flex-end;
}

#user-avatar {
    width: 27.5%;
    display: flex;
    justify-content: flex-start;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
}