@import '../components/mixins/mixins';

.btn {
    box-sizing: border-box;
    height: 40px;
    width: 180px;
    @include rounded(2px);
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 19px;
    padding: 10px 25px;
    cursor: pointer;
}

.btn-default {
    border: 1px solid #0073E9;
    background-color: #0073E9;
}

.btn-danger {
    border: 1px solid red;
    background-color: red;
}

.btn-outline-white {
    border: 1px solid #FFF;
    color: #FFF;
    background: transparent;
}

.form-group{
    @include media(xs) {
        margin-right: 5%;
    }
}

.form-control {
    display: block;
}

.form-group label {
    display: inline-block;
    color: #4B5353;
    font-size: 13px;
    letter-spacing: -0.07px;
    line-height: 18px;
    padding: 2px;
}

input[type='text'],
input[type='email'],
input[type='number'] {
    box-sizing: border-box;
    height: 35px;
    width: 397px;
    border: 1px solid #D3DBE7;
    @include rounded(3px);
    @include media(xs) {
        width: 100%;
    }
}


textarea {
    box-sizing: border-box;
    height: 88px;
    width: 873px;
    border: 1px solid #D3DBE7;
    @include rounded(3px);
    @include media(xs) {
        width: 100%;
    }
}

.d-flex {
    display: flex !important;
}

.d-none {
    display: none !important;
}

.w-50 {
    width: 50%;
    @include media(xs) {
        width: 45%;
    }
}

.w-45 {
    width: 45%;
}

.w-100 {
    width: 100%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.a-self-center {
    align-self: center;
}

.j-content-center {
    justify-content: center;
}

.mt-4 {
    margin-top: 4%;
}

.mt-5 {
    margin-top: 5%;
}

.mt-6 {
    margin-top: 6%;
}

.mb-5 {
    margin-bottom: 5%;
}

.mb-6 {
    margin-bottom: 6%;
}

.mb-10 {
    margin-bottom: 10%;
}

.is-invalid {
    border: 1px solid red !important;
}

.c-pointer {
    cursor: pointer !important;
}

.text-error {
    color: red !important;
    @include media(xs) {
        font-size:10px;
    }
}