/*
* APP
*/
:root {
    --primary-font: "Open Sans", sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    row-gap: 10px;
    margin: 0;
    box-sizing: border-box;
    background: #f2f4f8;
    font-family: var(--primary-font);
}

header {
    background: #fff;
    height: 66px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.18);
    display: flex;
}

main {
    background: #f2f4f8;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
}
/*
* APP
*/

/*---------------------------------------------------------------*/

/*
* Common
*/
.btn{
    box-sizing: border-box;
    height: 40px;
    width: 180px;
    border-radius: 2px;
    text-decoration: none;
    color: #FFFFFF;
    font-family: var(--primary-font);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.08px;
    line-height: 19px;
    padding: 10px 25px;
    cursor: pointer;
}

.btn-default{
    border: 1px solid #0073E9;
    background-color: #0073E9;
}

.btn-danger{
    border: 1px solid red;
    background-color: red;
}

.btn-outline-white{
    border: 1px solid #FFF;
    color: #FFF;
}

.form-control{
    display: block;
}

.form-group label{
    display: inline-block;
    color: #4B5353;
    font-size: 13px;
    letter-spacing: -0.07px;
    line-height: 18px;
    padding: 2px;
}

input[type='text'],input[type='email'],input[type='number']{
    box-sizing: border-box;
    height: 35px;
    width: 397px;
    border: 1px solid #D3DBE7;
    border-radius: 3px;
}

textarea{
    box-sizing: border-box;
    height: 88px;
    width: 873px;
    border: 1px solid #D3DBE7;
    border-radius: 3px;
}

.d-flex{
    display: flex;
}
.w-50{
    width: 50%;
}
.w-45{
    width: 45%;
}

.w-100{
    width: 100%;
}

.flex-wrap{
    flex-wrap: wrap;
}

.a-self-center{
    align-self: center;
}
.j-content-center{
    justify-content: center;
}
.mt-4{
    margin-top: 4%;
}
.mt-5{
    margin-top: 5%;
}
.mt-6{
    margin-top: 6%;
}
.mb-5{
    margin-bottom: 5%;
}
.mb-6{
    margin-bottom: 6%;
}
.mb-10{
    margin-bottom: 10%;
}

.is-invalid{
    border: 1px solid red !important;
}
.is-valid{
    border: 1px solid greenyellow !important;
}

.c-pointer{
    cursor: pointer !important;
}
/*
* Common
*/


/*---------------------------------------------------------------*/

/*
* Header
*/
#page-logo {
    width: 61px;
    height: 43px;
    margin: 11px 0;
    justify-self: flex-end;
}

.header {
    display: grid;
    grid-template-columns: 28.5% 1fr 26.5%;
    /* position: fixed;
    width: 100%; */
}

.header li {
    float: left;
}

.header li a {
    display: block;
    text-decoration: none;
    padding: 22px 21px;
    height: 22px;
    color: #1d2121;
    font-family: var(--primary-font);
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
}

.header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 6%;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    background: #262626;
    text-decoration: none;
    line-height: 70px;
}

nav ul li a:hover {
    background: #2581dc;
    color: #fff;
    transition: 0.4s;
}

nav ul li a:not(:only-child):after {
    padding-left: 4px;
    content: "  ▾";
}

nav ul li ul li {
    min-width: 160px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    display: none;
    background: white;
}

.dropdown span {
    line-height: 22px;
    writing-mode: vertical-lr;
}

@media only screen and (max-width: 800px) {
    nav {
        width: 100%;
        padding: 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 40px;
        background-color: gray;
    }

    .nav-dropdown {
        position: static;
    }
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

.user-icon {
    align-self: center;
}

.user-info {
    background: #9100ad;
    border-radius: 100%;
    height: 25px;
    width: 25px;
    color: #fff;
    font-family: var(--primary-font);
    font-size: 11px;
    font-weight: 700;
    letter-spacing: -0.06px;
    line-height: 15px;
    padding: 4px 7px 6px 8px;
}

.header .menu-icon {
    display: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
}

.menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin-left: 50px;
}

.menu-icon {
    cursor: pointer;
    float: right;
    padding: 4%;
    position: relative;
    user-select: none;
    color: #000;
}

.menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: #333 0.2s ease-out;
    width: 18px;
}

.menu-icon .navicon:after,
.menu-icon .navicon:before {
    background: #333;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.menu-icon .navicon:before {
    top: 5px;
}

.menu-icon .navicon:after {
    top: -5px;
}

.menu-btn {
    display: none;
}

.menu-btn:checked~.menu {
    max-height: 265px;
}

.menu-btn:checked~.menu-icon .navicon {
    background: 0 0;
}

.menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.menu-btn:checked~.menu-icon:not(.steps) .navicon:after,
.menu-btn:checked~.menu-icon:not(.steps) .navicon:before {
    top: 0;
}

/*
* Header
*/

/*---------------------------------------------------------------*/

/*
* Main
*/

/*
* News
*/

#news-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 940px;
    flex-direction: column;
    align-self: center;
}
#news-container h1{
    color: #1D2121;
    font-family: var(--primary-font);
    font-size: 30px;
    letter-spacing: -0.16px;
    line-height: 41px;
    font-weight: 400;
}

#news{
    height: auto;
    max-height: 1004px;
    overflow-y: auto;
    width: 940px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.04);
    padding: 41px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(403px, 1fr));
    justify-items: center;
}

.news-card{
  flex: 1 1 300px;
  margin-bottom: 114px;
}

/*
* Newsletter
*/

#newsletter{
    background-image: url('../images/newsletter.jpg');
    width: 100%;
    height: 576px;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-attachment: fixed;

}

#newsletter div{
    height: 208px;
    width: 940px;
}

#newsletter h2{
    color: #FFFFFF;
    font-size: 30px;
    letter-spacing: -0.16px;
    line-height: 41px;

}

#newsletter p{
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
    height: 66px;
    width: 403px;
}

/*
* Contact us
*/

#contact-us{
    width: 100%;
    display: grid;
    place-items: center;
}

#contact-us h2{
    color: #1D2121;
    font-size: 30px;
    letter-spacing: -0.16px;
    line-height: 41px;
    text-align: center;
    font-weight: 400;
}

#container-form{
    width: 940px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05), 0 2px 4px 0 rgba(0,0,0,0.04);
}

#container-form form{
    padding: 46px 0 46px 29px;
}

#container-form input[type='text'],input[type='email'],input[type='number']{
    margin: 0 83px 45px 0;
}
#container-form input[type='checkbox']{
    box-sizing: border-box;
    height: 21px;
    width: 21px;
    border: 2px solid #BEC6C6;
    border-radius: 2px;
}
#container-form label[for='promotions']{
    color: #1D2121;
    font-size: 16px;
    letter-spacing: -0.09px;
    line-height: 22px;
    vertical-align: top;
}

app-modal ul{
    padding: 2%;
    margin: 9% 0;
}